*,
::before
::after{
box-sizing: border-box;
line-height: calc(1em + 0.5rem);
}

:root {
    --background-col: #262018;
    --text-col: #DED1B7;
    --span-col: #C16E36;
    --other-col: #62361E;
    --color-dark: #070a13;
    --color-light: #f1f5f9; 
    --color-slate400: #94a3b8;
    --color-slate600: #475569;
    --color-slate800: #1e293b;
    --color-rose: #e11d48;
    --color-indigo: #4f46e5;
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

/*rose rgb(225, 29, 72) */
/*indigo rgb(79, 70, 219)*/
/*sizes*/




html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--color-dark);
    color: var(--color-light);
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'General Sans', sans-serif;
}

.nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-head .logo a{
    text-decoration: none;
    color: var(--text-col);
    font-size: 1.rem;
    margin-left: 40px;
    padding: auto;
    cursor: pointer;
}
span{
    color: #C16E36;
}

.nav__menu{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
    text-transform: capitalize;
}

.nav__link {
    font-size: var(--size-2xl);
    text-decoration: none;
    font-weight: 600;
    color: var(---color-slate600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
    list-style: none;
}

.nav__link:hover{
    color: var(--color-rose);
}

.nav__line {
    border: 1px solid var(--color-slate800);
    padding-top: 1.5em;

}
.nav__sun{
    color: var(---color-slate600);
    width: var(--size-base);
    height: var(--size-base);
}
.nav__resume{
    font-size: var(--size-2lg);
}

   .h__1{
    font-size: var(--size-6xl);
   }
   .h__2{
    font-size: var(--size-6xl);
   }

.letter {
    color: var(--color-rose);
    font-weight: 600;
}

strong{
    color: var(--span-col);
}

.hero__p{
    font-size: var(--size-lg);
    color: var(--text-col);
}

.hero button {
    font-size: var(--size-lg);
}

.nav__bars{
    color: var(--color-light);
    width: var(--size-2xl);
    height: var(--size-2xl);
    display: block;
    margin-right: 1.5em;
}

.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
   }
   .hero img{
       border-radius: 50%;
       width: auto;
       height: 400px;
   }
   .h__3{
    color: var(--text-col);
    font-size: var(--size-xl);
    margin: 0;
   }
   .h__1{
    color: var(--text-col);
    font-size: var(--size-5xl);
    margin: 0;
    letter-spacing: -0.05em;
    line-height: 0.9;
   }
   .h__2{
    color: var(--text-col);
    font-size: var(--size-5xl);
    margin: 0;
    letter-spacing: -0.05em;
    line-height: 0.9;
   }

.letter {
    color: var(--color-rose);
    font-weight: 600;
}

strong{
    color: var(--span-col);
}

.hero button {
    padding: 10px;
    font-size: var(--size-lg);
    color: var(--text-col);
    text-transform: capitalize;
}


button {
    display: inline-block;
    padding: 0;
    border: none;
    background-color: none;
    cursor: pointer;
    color: inherit;
}

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--color-rose);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px rgba(225, 29, 72, 0.5),
    0 0 -100px -10px var(--color-rose);
    transition: transform 0.3s, box-shadow 0.3s;
    color: inherit;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px rgba(225, 29, 72, 0.22),
    0 0 120px -10px var(--color-rose);
}

.section {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.about {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    letter-spacing: -0.05em;
    line-height: 0.9;
    /*left: 25%;*/
    border: 1px solid var(--color-indigo);
}
.about .main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about img {
    height: 500px;
    width: auto;
    border-radius: 6px;
    padding-right: 50px;
    /*margin-left:  600px;*/
    margin-left: 150px;
}
.about .div__about{
    display: inline-block;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-left: 3px solid var(--color-slate800);
    line-height: 1;
    padding: 40px;
    text-align: center;
    letter-spacing: -0.05em;
    gap: 1rem;
}
.about .h__1{
    margin-bottom: 50px;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: var(--size-4xl);
    color: var(--color-indigo);
}
.hero__p{
    max-width: 60ch;
    font-size: var(--size-xl);
    color: var(--text-col);
    text-align: center;
    letter-spacing: -0.05em;
    list-style: 0.9;
    font-weight: 600;
    margin: 0;
}
.about a{
    position: relative;
    margin: auto;
    left: -25px;

}

.skills{
    border: 2px solid var(--color-indigo);
    padding: 20px;
}
.title h1{
    text-align: center;
    color: var(--color-indigo);
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:  450px;
    text-align: center;
}
.cards {
    border: 2px solid var(--color-indigo);
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    letter-spacing: -0.05em;
}
.cards i{
    font-size: var(--size-4xl);
    display: block;
    text-align: center;
    margin: 25px 0px;
}
.contacts{
    border: 1px solid var(--color-indigo);
    min-height: 500px;
    text-align: center;
}
.me1 {
    border: 1px solid var(--color-indigo);
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.contacts h1{
    text-transform: capitalize;
    margin: 10px;
    color: var(--color-indigo)
}
.contacts p{
    font-size: var(--size-5xl);
}
.contacts .cards {
    height: 150px;
    width: 150px;
    margin: 30px;
}
.contacts .cards a{
    text-decoration: none;
}
.contacts .h__3:nth-child(2){
    color: var(--color-rose)
}
.footer {
    margin: 20px;
    line-height: 2;
    letter-spacing: -0.05em;
}
.footer i{
    font-size: var(--size-base);
    text-transform: capitalize;
}
